$color-white: white;
$form-bg-color: rgb(43, 46, 58);
$form-highlighted-text-color: rgb(95, 121, 226);
$form-color: rgb(150, 153, 167);
$form-inputs-border-color: rgb(49, 52, 66);
$form-inputs-bg: rgb(47, 50, 62);
