$color-white: white;
$color-red: red;
$color-black: black;
$form-bg-color: rgb(43, 46, 58);
$form-highlighted-text-color: rgb(95, 121, 226);
$main-color: rgb(150, 153, 167);
$form-inputs-border-color: rgb(49, 52, 66);
$form-inputs-bg: rgb(47, 50, 62);
$form-page-bg-color: rgb(34, 37, 46);
$header-bg-color: rgb(45, 49, 61);
$left-sidebar-bg-color: rgb(43, 46, 58);
$avatar-border-color: rgb(52, 55, 70);
$left-sidebar-section-title-color: rgb(102, 108, 126);
