@mixin flexRow($verticalPosition: center, $horizontalPosition: flex-start) {
  display: flex;
  justify-content: $horizontalPosition;
  align-items: $verticalPosition;
}
@mixin flexColumn($verticalPosition: center, $horizontalPosition: flex-start) {
  display: flex;
  flex-direction: column;
  justify-content: $verticalPosition;
  align-items: $horizontalPosition;
}
