@import 'styles/depth.scss';

.profileHeader {
  display: flex;
  justify-content: flex-end;
}
.dropdown {
  button {
    font-size: 25px;
    height: 10px;
    outline: none;
    margin-bottom: 30px;
    cursor: pointer;
    border: none;
    background: none;
  }
  button:hover {
    color: $color-white;
  }
  .dropdownContent {
    background: $header-bg-color;
    display: none;
    width: 100px;
    transform: translateX(-80px);
    position: absolute;
    padding: 5px 10px;
    border: 3px solid $form-inputs-border-color;
    div {
      cursor: pointer;
      padding: 5px;
    }
  }
  .showDropdown {
    display: block;
  }
}

.profileInfo {
  text-align: start;
}
.profileInfoAvatar {
  width: 100px;
  height: 100px;
  display: flex;
  margin: 20px auto;
  border-radius: 50%;
  background: $form-page-bg-color;
  border: 1px solid $left-sidebar-section-title-color;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  svg {
    font-size: 70px;
  }
}

.profileInfoName {
  color: $color-white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
}

.profileInfoAbout {
  .title {
    color: $color-white;
    font-weight: bold;
  }
  .subtitle {
    margin: 15px 0;
  }
}
.additionalInfoSection {
  .subtitle {
    color: $color-white;
    margin-bottom: 15px;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .profileInfoName {
    margin-bottom: 20px;
  }
}
