@import 'styles/depth.scss';

.header {
  height: 100px;
  width: 100%;
  background: $header-bg-color;
  text-align: end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
.leftSide {
  width: 20%;
  display: flex;
  justify-content: space-between;
  z-index: $logo-z-index;

  .logo {
    padding: 10px 0;
    img {
      width: 200px;
      height: 80px;
    }
  }
}

.dropDownMenuBtn {
  width: 48px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.dropDownMenuBtnBurger {
  width: 30px;
  height: 3px;
  background: $main-color;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}
.dropDownMenuBtnBurger::before,
.dropDownMenuBtnBurger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: $main-color;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}
.dropDownMenuBtnBurger::before {
  transform: translate(-30px, -10px);
}
.dropDownMenuBtnBurger::after {
  transform: translate(-30px, 10px);
}
.dropDownMenuBtnActive .dropDownMenuBtnBurger {
  transform: translateX(-30px);
  background: none;
}
.dropDownMenuBtnActive .dropDownMenuBtnBurger::before {
  transform: rotate(45deg);
}
.dropDownMenuBtnActive .dropDownMenuBtnBurger::after {
  transform: rotate(-45deg);
}

.userInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  line-height: 100px;
  align-items: center;
  span {
    margin: 0 10px;
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid $avatar-border-color;
  }
}

@media screen and (max-width: 1440px) {
  .leftSide {
    width: 250px;
    .logo {
      img {
        width: 150px;
        height: 60px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .header {
    justify-content: flex-start;
  }
  .leftSide {
    width: 200px;
    .logo {
      img {
        width: 120px;
        height: 50px;
      }
    }
  }
  .userInfo {
    width: 90%;
    font-size: 15px;
  }
}
@media screen and (max-width: 425px) {
  .header {
    justify-content: space-between;
  }
  .leftSide {
    width: 65%;
    .logo {
      img {
        width: 100px;
        height: 50px;
      }
    }
  }
  .userInfo {
    width: 25%;
    text-align: center;
    span {
      display: none;
    }
    .avatar {
      width: 60px;
      height: 60px;
    }
  }
}
