@import 'styles/depth.scss';
.header {
  display: flex;
  justify-content: space-between;
  .title {
    font-weight: 800;
    color: $color-white;
    font-size: 20px;
  }
  .closeBtn {
    color: $main-color;
    background: none;
    border: none;
    width: 30px;
    font-size: 20px;
    font-weight: 800;
  }
}
.modalBody {
  margin: 10px 0;
}
.select {
  width: 50%;
  background: none;
  border: 1px solid $color-white;
}
.btnGreen {
  width: 50px;
  height: 30px;
  margin-top: 10px;
  background: $color-green;
  color: $color-white;
  font-weight: bold;
  border: none;
  border-radius: 15px;
}
