@import 'styles/deps.scss';

@font-face {
  font-family: 'NotoSansJP';
  src: url('./assets/fonts/NotoSansJP-Regular.otf'), url('./assets/fonts/NotoSansJP-Bold.otf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NotoSansJP';
}
