@import 'styles/depth.scss';

@font-face {
  font-family: 'NotoSansJP';
  src: url('./assets/fonts/NotoSansJP-Regular.otf'), url('./assets/fonts/NotoSansJP-Bold.otf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NotoSansJP';
  color: $main-color;
}
a {
  text-decoration: none;
}
button,
input {
  border-color: $form-inputs-border-color;
  background: $form-inputs-bg;
}
ul {
  list-style: none;
}
input[type='radio'] {
  display: none;
}
